
<html >
<head>
    <title>Iris Prediction</title>
</head>
<body>
    
    <h1>Iris Prediction</h1>
    <h2>Using Random Forest</h2>
    <form method="post" action="/predict">
            <p>Sepal Lenght</p>
            <input name = 'sl' required ></input>
            <p>Sepal Lenght</p>
            <input name = 'sw' required ></input>
            <p>Petal Lenght</p>
            <input name = 'pl' required ></input>
            <p>Petal width</p>
            <input name = 'pw' required ></input>
            <br>
            <br>
            <button type = 'submit' >Submit</button>
    </form>

</body>
</html>